<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Subscribe to our news{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('style.min.css') }}" />
        <script src="{{ asset('js/dist/all.min.js') }}"></script>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
