{% extends 'base.html.twig' %}

{% block body %}


    <div id="wrapper">
        <h1 class="page-header">Thank you </h1>
        <br/>

        <p>
            Thank you for your subscribtion!!
        </p>

    </div>



{% endblock %}
