{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <h1 class="page-header">
            List of subscribers
        </h1>

        {{ dump(data) }}

    </div>

{% endblock %}
